

<div class="container-md">
    <p>
        {{mensaje}}
    </p>

    <div *ngIf="this.lBoolPreguntar; then preguntar"></div>

    <ng-template #preguntar>
        <label for="text">¿Quiere confirmar el guardado?</label>
        <br>
        <button type="button" (click)="this.service.fnSetRestObserver('si')" class="btn btn-primary" >Si</button>
        <button type="button" (click)="this.service.fnSetRestObserver('no')" class="btn btn-primary" >No</button>


    </ng-template>

    <br>
    <label for="text">User</label> <br>
    <input type = "text" [(ngModel)] = "codiUser"/>
    <button type="button" (click)="fnGetAccounts()" class="btn btn-primary" >Get Accounts</button>
    <br>

    <div data-mdb-input-init class="form-outline form-white mb-4">
      <label class="form-label" for="typeEmailX">Nombre Cuenta </label>
      <input type="text" name="nombreCuenta" id="typeUserName" class="form-control form-control-lg" maxlength="15" placeholder="Nombre" [(ngModel)]="lstrNombreCuenta"/>
    </div>
    <div data-mdb-input-init class="form-outline form-white mb-4">
      <label class="form-label" for="typePasswordX">Numero Cuenta </label>
      <input type="text" name="numeroCuenta" id="typePasswordX" class="form-control form-control-lg" maxlength= "15" placeholder="Numero" [(ngModel)]="lstrNumeroCuenta"/>
    </div>
    <button type="button" (click)="fnSaveAccount()" class="btn btn-primary" >Save Account</button>
    <br>
    <br>
    <table *ngIf="lAccounts">
        <tr *ngFor="let row of lAccounts">
          <th>{{ row.id }}</th>
          <th>{{ row.NumeCuen }}</th>
          <th>{{ row.CodiUser }}</th>
          <th>{{ row.NombCuen }}</th>
        </tr>
    </table>
    <br>
    <br>
    <div class="container-md">
        <div id="idgridAccounts" class="grid">
            <angular-slickgrid gridId="gridAccounts" 
                [columnDefinitions]="CDAccounts" 
                [gridOptions]="GPAccounts"
                [dataset]="dsAccounts">
            </angular-slickgrid>
        </div>
    </div>
    <div class="container-md">
        <p>Número de Cuenta <input type="text" [(ngModel)]="lstrNumeCuen" > </p>

        <pre>{{lAccounts | mypipe:lstrNumeCuen | json}}</pre>
    </div>
</div>