<label class="form-label" for="form2Example11">codeUser: </label> <br/>
<input type = "text" name="codeUser" [(ngModel)] = "codeUser" (keyup)="fnValidProf()" /> <br/>
<label class="form-label" for="form2Example11">codeUser2: </label> <br/>
<input type = "text" name="codeUser2" [(ngModel)] = "codeUser2" /><br/>
<label class="form-label" for="form2Example11">Nombre Usuario: </label> <br/>
<input type = "text" name="nombUser" [(ngModel)] = "nombUser" (keyup)="fnValidProf()" /><br/>
<label class="form-label" for="form2Example11">Passord: </label> <br/>
<input type = "text" name="password" [(ngModel)] = "password" (keyup)="fnValidProf()" /><br/>


<button type="button" (click)="fnGetAccounts()">Get Accounts</button>
